.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }
  .popup .popup-window {
    background-color: #85CDCA;
    border: 5px solid #40B3A2;
    width: 856px;
    height: 398px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: 3; }
  .popup .name-placeholder {
    background-color: #e27d5f;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: .3s box-shadow; }
  .popup .name-placeholder:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .popup .name-placeholder:focus {
    outline: none; }
