$grid-size:560px;
$block-size:$grid-size/8;

.grid {
  position: relative;
  width: $grid-size;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  margin: 0 auto;
}
.chess-square{
  width:$block-size;
  height:$block-size;
  background-color:red;
}

.figure{
  position:absolute;
  width:$block-size;
  height: $block-size;
  cursor: pointer;
}

.can_move{
  position:absolute;
  background-color:yellow;
  width:$block-size;
  height:$block-size;
  opacity: 0.5;
}