$grid-size:560px;
$block-size:$grid-size/8;

.grid {
  align-self:center;
  position: relative;
  width: $grid-size;
  display: grid; 
  max-height: $grid-size;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  margin: 0 auto;
  transition: transform .9s;

.chess-square{
  width:$block-size;
  height:$block-size;
  background-color:#D00000;
}

.figure{
  position:absolute;
  width:60px;
  height: $block-size;
  cursor: pointer;
  filter: drop-shadow(-2px -1px 0px rgba(53, 31, 31, 0.5));
  -webkit-filter: drop-shadow(-2px -1px 0px rgba(53, 31, 31, 0.5));
}


.can_move{
  position:absolute;
  background-color:#1EAE9B;
  width:$block-size;
  height:$block-size;
  opacity: 0.8;
}
}